rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    match /zones/{id} {
      allow read: if true;                  // public, static, non-personal
      allow write: if false;                // seeded by script only
    }
    match /sus_events/{id} {
      allow read: if true;                  // console. synthetic data only.
      allow create: if request.auth != null
        && !request.resource.data.keys().hasAny(['latitude','longitude','sessionId','uid']);
      allow update: if request.auth != null
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['outcome']);
      allow delete: if false;
    }
    match /sos_incidents/{id} {
      allow read: if true;                  // console. synthetic data only.
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
      allow update: if request.auth != null && resource.data.uid == request.auth.uid
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['status','stoppedAt']);
      allow delete: if false;
    }
  }
}
